# -------------------------
# APP (internal)
# -------------------------
NODE_ENV=development
PORT=9001
READ_ONLY=false
LOG_LEVEL=debug

# -------------------------
# DATABASE
# -------------------------
POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=cookbook
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# -------------------------
# URLS
# -------------------------
FRONTEND_ORIGIN=http://localhost:5173