# -------------------------
# APP (internal)
# -------------------------
READ_ONLY=true
LOG_LEVEL=debug

# -------------------------
# EXTERNAL PORTS (HOST MACHINE)
# -------------------------
FRONTEND_PORT=5321
BACKEND_PORT=9001
POSTGRES_PORT=5432

# -------------------------
# DATABASE
# -------------------------
POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=cookbook
POSTGRES_HOST=postgres

# -------------------------
# URLS
# -------------------------
FRONTEND_ORIGIN=http://localhost:${FRONTEND_PORT}
BACKEND_URL=http://localhost:${BACKEND_PORT}

# -------------------------
# FRONTEND (VITE)
# -------------------------
VITE_BASE_URL=http://localhost:9001
VITE_READ_ONLY=false